*{
    font-family: montserrat;
}

html{
    width: 600px;
    margin: auto;
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(232, 244, 255) !important;
}

header{
    position: sticky;
    top:0%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(232, 244, 255);
}

nav section{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

header button{
    border: solid 3px rgb(126, 158, 228);
    padding: 10px;
    border-radius: 10px;
    color: rgb(90, 131, 219)
}

header div{
    margin: 5px;
}

header button:hover{
    background-color: rgb(126, 158, 228);
    color: white;
}

body{
    margin: 0px;
    background-color: rgb(232, 244, 255);
}

footer{
    position: sticky;
    bottom: 0;
    width: 600px;
    top: 93%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    height: 50px;
    background-color: rgb(232, 244, 255);
    margin-top: 20px;
}
footer a{
    height: 90%;
    width: 50px;
}

footer a img{
    height: 100%;
}

#divFiltro{
    display: flex;
    flex-direction: column;
}

#divFiltro div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#divFiltro div select{
    width: 80px;
    height: 40px;
}

.imgIntento{
    width: 100px;
    background-color: rgb(232, 244, 255);
}

h1{
    font-family: montserrat;
    font-weight: 800;
    text-align: center;
}



#divDificultadJuego, #divInput{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#divInput{
    align-items: center;
}

#divInput button{
    height: 25px;
}

#divDificultadJuego img{
    width: 50px;
    height: 50px;
}

select{
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    width: 40px;
}

select:hover{
    border: 1px solid #000000;
}

#sectionIntentos img, #sectionEjemplo img{
    height: 50px;
    width: 50px;
}

.divIntento{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divIntento div{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#buttonNewGame{
    background-color: rgb(126, 158, 228);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

#buttonNewGame:hover{
    background-color: rgb(78, 128, 236);
}

#sectionReglas div{
    display: flex;

}
#sectionReglas img{
    width: 50px;
    height: 50px;
}


#selectDificultad{
    width: 70px;
    height: 40px;
    align-self: center;
}

input{
    width: 52px;
    height: 19px;
}

#helpButton{
    width: 50px;
    height: 50px;
}

#fotoAU{
    width: 50%;
}

#informacionPersonal{
    display: flex;
}
#informacionPersonal div{
    margin-left: 10px;
    margin-right: 10px;
}
#proyectos{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#informacionContacto{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
#informacionContacto b {
    align-self: center;
}
#informacionContacto div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 560px;
    height: 315px;
    margin: 20px;
}
@media (max-width:600px){
    html{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    main{
        margin-right: 10px;
        margin-left: 10px;
    }
    header{
        border-bottom: 3px solid rgba(164, 203, 240, 0.603);
    }

    footer{
        border-top: 3px solid rgba(164, 203, 240, 0.603);
    }

    #informacionPersonal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #informacionPersonal div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #informacionPersonal div p{
        text-align: center;
    }

    iframe{
        width: 100%;
    }
}