header{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    height: 50px
}
footer button{
    height: 90%;
    width: 50px;
}

footer button img{
    height: 100%;
}

#div_filtro{
    display: flex;
}